.wrapper-slider {
  width: 1160px;
  padding-bottom: 104px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider {
  position: relative;
  padding: 0px 50px;
  width: 550px;
}
.slider__item {
  text-align: center;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 31px;
  height: 31px;
  margin: -15px 0 0 0;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(/images/block7/arrow_l.svg) 0 0 no-repeat;
}
.slider .slick-arrow.slick-prev:hover,
.slider .slick-arrow.slick-next:hover {
  background-color: #18cfab;
}
.slick-slider.slick-initialized {
  text-align: center;
  margin: 0 auto;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(/images/block7/arrow_r.svg) 0 0 no-repeat;
}
.slider__item .slick-center {
  position: relative;
  bottom: 10px;
}
.slider-item-big {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 69px;
}
.slider-p {
  width: 1160px;
  height: 45px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 37px;
  color: #bbbbbb;
}
.slider-name {
  width: 120px;
  text-align: center;
  color: #18cfab;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}
.slider-name-profesion {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: rgba(187, 187, 187, 1);
  margin-bottom: 50px;
}
