@import url(./reset.css);

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.wrapper {
  width: 1920px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1012px;
  background-image: url("../images/background/1.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
  margin-bottom: 264px;
}

.header-logo-wapper {
  display: flex;
}

.header-name {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
.text-color-green {
  color: rgba(24, 207, 171, 1);
}

.text-color-white {
  color: rgba(255, 255, 255, 1);
}

.header-logo {
  position: relative;
}

.h {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
}
.header-ul {
  display: flex;
}
.header-item {
  padding-left: 21px;
}
.header-item-text {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.header-item-text:hover {
  color: rgba(24, 207, 171, 1);
}
.header-item-text::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(24, 207, 171, 1);
  position: absolute;
  top: 69px;
  left: 0;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}
.header-item-text:hover::after {
  transform: scaleX(1);
}
.header-h1 {
  height: 35px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;

  color: rgba(255, 255, 255, 1);
  margin-bottom: 28px;
}
.header-h2 {
  height: 80px;
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 22px;
}
.header-h3 {
  height: 34px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  color: rgba(212, 212, 212, 1);
  margin-bottom: 144px;
}
.button {
  width: 169px;
  height: 63px;
  border: 0;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  box-shadow: 0 -5px 0 rgba(255, 255, 255, 1);
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 1);
}
.button-green {
  background-color: rgba(24, 207, 171, 1);
}
.button-blue {
  background-color: rgba(0, 203, 246, 1);
}

/* block 2 */

.info-boxes {
  height: 377px;
  display: flex;
}
.info-img-wrapper {
  width: 100px;
  height: 100px;
  margin-bottom: 47px;
}
.info-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-item-dark {
  background-color: rgba(28, 42, 51, 1);
}
.info-item-green {
  background-color: rgba(24, 207, 171, 1);
}

.info-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

/* block 3 our services */

.block3,
.block5,
.block6,
.block7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block3,
.block6 {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 83px;
  padding-bottom: 91px;
}
.block3-title,
.block6-title,
.block7-title {
  margin-bottom: 101px;
}
.block-name {
  position: relative;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: rgba(78, 78, 78, 1);
}
.block-name::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 30%;
  width: 100px;
  height: 1px;
  background-color: rgba(24, 207, 171, 1);
}
.block-name::after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 35%;
  width: 100px;
  height: 1px;
  background-color: rgba(24, 207, 171, 1);
}

.block3-items {
  display: flex;
  margin-bottom: 28px;
}
.block3-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 72px;
  background-color: rgba(248, 252, 254, 1);
  border: 1px solid #edefef;
}
.block3-item.active {
  background-color: rgba(24, 207, 171, 1);
}
.block3-item:hover {
  cursor: pointer;
  border: 1.5px solid #18cfab;
}

.block3-item-text {
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  color: rgba(113, 113, 113, 1);
}
.block3-wrapper {
  display: flex;
}
.block3-wrapper-img {
  width: 192px;
  height: 139px;
}
.block3-img-text {
  display: none;
}
.block3-img-text.active {
  display: flex;
}
.block3-text {
  width: 955px;
  height: 139px;
  margin-left: 20px;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
}

/* block 4 everything is ready */

.block4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 476px;

  background-image: url("../images/background/2.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
}
.block4-title {
  height: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 126.78px;
  margin-bottom: 12.22px;
}
.block4-text {
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: rgba(216, 216, 216, 1);
  margin-bottom: 67px;
}

/* block 5 our amazing work */

.block5 {
  background-color: rgba(233, 237, 239, 1);
}

.block5-title {
  margin-top: 95px;
  margin-bottom: 97px;
  height: 40px;
}
.block5-items {
  height: 58px;
  display: flex;
  margin-bottom: 71px;
}
.block5-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(113, 113, 113, 1);
  border: 1px solid #dadada;
  padding-left: 15px;
  padding-right: 15px;
}

.block5-item:hover {
  border: 2px solid #18cfab;
  cursor: pointer;
}

.block5-item-text {
  height: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
}
.block5-item-active {
  color: rgba(24, 207, 171, 1);
  border: 2px solid #18cfab;
}

.block5-gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1140px;
  justify-content: center;
  margin-bottom: 70px;
}

.block5-gallery-item {
  width: 25%;
  margin: 0;
  padding: 0;
}

div.block5-gallery img {
  width: 100%;
}
.block5-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 99px;
}
.block5-button-plus {
  font-size: 34px;
}
.block5-button-name {
  padding-left: 15px;
}

/*  block 6 breaking news  */

.block6-main {
  display: flex;
  width: 1150px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}
.card {
  position: relative;
  height: 288px;
  width: 263px;
  text-decoration: none;
  margin-bottom: 44px;
}
.card-day {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 70px;
  height: 68px;
  background-color: rgba(32, 62, 56, 1);
}
.card:hover .card-day {
  background-color: rgba(24, 207, 171, 1);
}
.card:hover .card-name {
  color: rgba(24, 207, 171, 1);
}
.card-day span {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.card-name {
  height: 40px;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: rgba(113, 113, 113, 1);
  padding-left: 20px;
}
.card-comment {
  height: 20px;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 20px;
  padding-left: 20px;
  color: rgba(119, 119, 119, 1);
}

/* block 7 What People Say About theHam */

.block7 {
  width: 100%;
  background-image: url("../images/background/3.png");
  background-size: cover;
  background-position: center;
}
.block7-title {
  margin-top: 98px;
}
.shapes {
  width: 47px;
  height: 33px;
  margin-bottom: 36px;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121px;
  background-color: #22353f;
}
.footer-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
.footer-text span {
  color: rgba(24, 207, 171, 1);
}
